<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week4Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Hi大家，這是第四週的陽春範例。</h1>
    <h2>第四週需要學的是資料庫基礎<br>
        這個地方有點困難，所以大家可能需要多看看網路上教學～<br>
        這次的範例你們可能會覺得用第三週教過的方法也可以，但是<br>
        把東西存進資料庫有他的方便性，以後操作更多資料的時候大家就會明白～<br>
        大家加油！<br>
    </h2>
    <p id="ta">by助教<br></p>
    <div id="container">
        <div id="content">
            {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form id="send-form" action="." method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>Ps:格子是假的，無法輸入ＸＤ</span>
        </div>
    </div>
</body>

</html>