<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week4Example留言板</title>
    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" /> -->
</head>
<body>
    <h1>Hi大家，這是第五週的陽春範例。</h1>
    <h2>第五週需要學的是如何處理使用者表單、還有如何處理routing<br>
        這個地方不會那麼困難<br>
        主要困難的地方一樣是處理資料庫（兩端）的部分<br>
        
        大家加油！<br>
    </h2>
    <p id="ta">by助教<br></p>
    <div id="container">
        <div id="content">
            {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    <b style="margin: 10px;">{{msg.message}}<b><b style="margin: 70px;">{{msg.talktime}}</b>
                </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form id="send-form" action="." method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>Ps:格子是真的，可以輸入了！！！！</span>
        </div>
    </div>
</body>

</html>